@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;

}

ol,
ul,
li {
  list-style: none;
}

p {
  margin: 0;
}

/* Board */
.board {
  width: 360px;
  height: 360px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid #003153;

  position: relative;
}

/* alt */

.square {
  background-color: silver;
  border: 1px solid #003153;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* alt */
.light {
  background-color: silver;
}

.square:nth-child(odd),
.dark {
  background-color: #003153;
}

.blocked {
  background-color: crimson !important;
}

/* Button */
.button {
  color: green;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid green;
  padding: .5rem;
  border-radius: 2px;
}

.button:hover {
  cursor: pointer;
  color: black;
  background-color: green;
  border: 1px solid black;
}

/* Command */

.command,
.message {
  color: blue;
  font-weight: bolder;
}

.error {
  color: crimson;
}

/* Input */
.input input {
  color: green;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid white;
  padding: .5rem;
  border-radius: 2px;
}


.input input:focus {
  outline: none;
}

/* Log */
.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}


/* Piece */
.piece {
  width: 30px;
  height: 30px;
}

/* TODO: revise */
.north {
  transform: rotate(0deg)
}

.east {
  transform: rotate(90deg);
}

.south {
  transform: rotate(180deg);
}

.west {
  transform: rotate(270deg);
}